<!-- FILEPATH: /Users/willchen/turing_work/3mod/exercises/week-3-viewing-party-7/app/views/users/index.html.erb -->

<h1>All Users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>
